html, body, #app {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkblue;
    color: white;
    padding: 10px;
    margin: 0px;
}

.navbar h1 {
    margin-right: auto;
}

.navbar .loginLink {
    color: white;
    margin-left: auto;
}

.content {
    padding: 10px;
}

.code-snippet {
    display: inline-block;
    border: solid;
    border-width: 1px;
    padding: 15px;
    font-family: monospace;
}
